@font-face {
  font-family: 'Titillium Web';
  font-weight: 400;
  src: url(TitilliumWeb-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-weight: 400;
  font-style: italic;
  src: url(TitilliumWeb-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-weight: 600;
  src: url(TitilliumWeb-SemiBold.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-weight: 700;
  src: url(TitilliumWeb-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-weight: 700;
  font-style: italic;
  src: url(TitilliumWeb-BoldItalic.woff) format('woff');
}

@font-face {
  font-family: 'Go Mono';
  font-weight: 400;
  src: url(GoMono-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Go Mono';
  font-weight: 400;
  font-style: italic;
  src: url(GoMono-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Go Mono';
  font-weight: 700;
  src: url(GoMono-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Go Mono';
  font-weight: 700;
  font-style: italic;
  src: url(GoMono-BoldItalic.woff) format('woff');
}
