.prose {
  font-size: var(--text-base);
  line-height: var(--leading-base);

  h1 {
    font-size: var(--text-4xl);
    line-height: var(--leading-4xl);
    margin-bottom: calc(var(--spacing) * 3);
  }
  h2, h3, h4, h5, h6 {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 2);
  }
  h2 {
    font-size: var(--text-3xl);
    line-height: var(--leading-3xl);
  }
  h3 {
    font-size: var(--text-2xl);
    line-height: var(--leading-2xl);
  }
  h4 {
    font-size: var(--text-xl);
    line-height: var(--leading-xl);
  }
  h5, h6 {
    font-size: var(--text-base);
    line-height: var(--leading-base);
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  ul, ol {
    margin-block: calc(var(--spacing) * 2);
    margin-inline-start: calc(var(--spacing) * 6);
  }
  :link, :visited {
    border-color: var(--color-cyan-900);
    border-style: dotted;
    border-bottom-width: 1px;

    &:hover {
      color: var(--color-amber-900);
      border-color: var(--color-amber-900);
    }
  }
  :link {
    color: var(--color-cyan-900);
  }
  :visited {
    color: var(--color-violet-900);
  }
  p {
    margin-block: calc(var(--spacing) * 4);
  }
  pre {
    margin-block: calc(var(--spacing) * 4);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 6);
    overflow-x: auto;
    overflow-y: hidden;
  }
  blockquote {
    margin-inline-start: calc(var(--spacing) * 8);
  }
  ul.simple p, ol.simple p {
    margin-block: 0;
  }
  code, tt {
    background-color: var(--color-cyan-50);
    color: var(--color-neutral-800);

    &.xref, :link &, :visited & {
      font-weight: var(--font-weight-bold);
    }
  }
  h1 code, h1 tt,
  h2 code, h2 tt,
  h3 code, h3 tt,
  h4 code, h4 tt,
  h5 code, h5 tt,
  h6 code, h6 tt {
    background-color: transparent;
    color: unset;
  }
  table {
    border-width: 1px;
    border-color: var(--color-neutral-500);
    margin-block: calc(var(--spacing) * 2);
    border-collapse: collapse;
  }
  th, td {
    border-width: 1px;
    border-color: var(--color-neutral-500);
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 3);

    &>:first-child {
      margin-top: 0;
    }
    &>:last-child {
      margin-bottom: 0;
    }
  }
  table.indextable {
    border-width: 0;

    th, td {
      border-width: 0;

      &>ul {
        padding-inline-start: 0;
      }
    }
    ul {
      list-style: none;
      margin-block: 0;
    }
  }
  dl {
    margin-bottom: calc(var(--spacing) * 3);
  }
  dd {
    margin-top: calc(var(--spacing) * 1);
    margin-bottom: calc(var(--spacing) * 2);
    margin-inline-start: calc(var(--spacing) * 8);

    &>:first-child {
      margin-top: 0;
    }
    &>:last-child {
      margin-bottom: 0;
    }
  }
  dl.field-list {
    display: grid;
    grid-template-columns: fit-content(30%) auto;

    &>dt {
      font-weight: var(--font-weight-bold);
      word-break: break-word;
      padding-inline-start: calc(var(--spacing) * 2);
      padding-inline-end: calc(var(--spacing) * 1);
    }
    &>dd {
      margin-block: 0;
      margin-inline-start: calc(var(--spacing) * 2);
    }
    ul {
      margin: 0;
      padding-inline-start: calc(var(--spacing) * 4);
    }
  }
  dl.glossary {
    &>dt {
      font-weight: var(--font-weight-bold);
      font-size: var(--text-lg);
      line-height: var(--leading-lg);
    }
  }
  .sig {
    font-family: var(--font-mono);
  }
  .sig-name {
    font-size: var(--text-lg);
    line-height: var(--leading-lg);
    font-weight: var(--font-weight-bold);
  }
  .sig-paren, .optional {
    font-size: var(--text-xl);
    line-height: var(--leading-xl);
  }
  .admonition {
    background-color: var(--color-neutral-200);
    margin-block: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 2);
    padding-inline: calc(var(--spacing) * 6);
    border-width: 1px;
    border-color: var(--color-neutral-300);

    .admonition-title {
      font-size: var(--text-2xl);
      line-height: var(--leading-2xl);
      margin-bottom: calc(var(--spacing) * 2);
    }
  }
}
